<div id="Inventory">
	<div class="titlebar">
		<div class="left">
			<span class="text" data-text="106">Inventory</span>
		</div>
		<div class="right">
			<button class="base mini"></button>
			<button class="base close"></button>
		</div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="inventory-layout">
			<div class="tabs-column">
				<div class="tabs">
					<button class="item tab">Items</button>
					<button class="equip tab">Equipment</button>
					<button class="etc tab">Misc</button>
				</div>
			</div>
			<div class="main-column">
				<div class="content">
					<div class="inventory-grid">
					</div>
				</div>
			</div>
			<div class="footer">
				<button class="extend"></button>
				<div class="cnt"><span class="ncnt"></span>/<span class="mcnt"></span></div>
			</div>
		</div>
		</div>
		</div>
