<div id="Inventory">
	<div class="drag-header"></div>
	<div class="titlebar">
		<span class="title text">Your Bag</span>
		<div class="controls">
			<button class="base mini"></button>
			<button class="base close"></button>
		</div>
	</div>
	<div class="overlay"></div>
	<div class="panel">
		<div class="inventory-layout">
			<div class="tabs-column">
				<div class="tabs">
					<button class="item tab">Items</button>
					<button class="equip tab">Equip</button>
					<button class="etc tab">Misc</button>
				</div>
			</div>
			<div class="main-column">
				<div class="container">
					<div class="ff_bugfix">
						<div class="content">
							<div class="inventory-grid">

							</div>
							</div>
							</div>
				</div>
				</div>
		</div>
		<div class="drag-footer">
			<div class="cnt">6<span class="ncnt"></span>/<span class="mcnt">100</span></div>
		</div>
	</div>
