<div id="WinLogin">
	<div class="user-auth">
		<label htmlFor="login-user">
			<input class="user" id="login-user" type="text" placeholder="Username" />
		</label>
		<label htmlFor="login-pass">
			<input class="pass" id="login-pass" type="password" placeholder="Password" />
		</label>
		<div class="dex-checkbox-container">
			<label htmlFor="login-save" class="save dex-checkbox">
				<input type="checkbox" id="login-save" class="dex-checkbox__input" />
				<span class="dex-checkbox__checkmark"></span>
			</label>
			<label htmlFor="login-save" class="dex-checkbox__label">Save Login</label>
		</div>
	</div>
	<div class="dex-buttons">
		<button class="btn connect dex-button dex-button--primary dex-button--large" type="submit">Login</button>
	</div>
</div>
