@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


#MainCanvas {
  position: relative;
}

.main-canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  transition: background 20s ease;

  &.day {
    background: rgba(205, 50, 50, 0);
  }

  &.night {
    background: rgba(#1E1033, 0.4); 
    &.transitioning {
      animation: sunsetToNight 20s ease;
    }
  }
}

@keyframes sunsetToNight {
  0% {
    background: rgba(255,255,255, 0.0);
  }
  20% {
    background: rgba(#FF8C42, 0.2); // Warm orange
  }
  40% {
    background: rgba(#E85F5C, 0.3); // Reddish orange
  }
  60% {
    background: rgba(#462B57, 0.35); // Purple dusk
  }
  100% {
    background: rgba(#1E1033, 0.4); // Final night color
  }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

#DialogueBox:has(> *) {
  $parchment-color: darken(#dad1bf, 15);
  font-family: "Plus Jakarta Sans", sans-serif;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba($parchment-color, 0.5), rgba($parchment-color, 0.5)), url('/static/img/dialogue-bg.png');
  font-size: 20px;
  color: #4b2e14;
  // text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: auto;
  min-height: 176px;
  border-radius: 5px;
  line-height: 18px;
  letter-spacing: 0px;
}

#NpcBox {
  top: auto!important;
  left: auto !important;
  width: 100% !important;
  height: auto !important;
  position: relative;
  // background: rgba(0,0,0,0.25) !important;
  background: none !important;
  padding: 0;
  // backdrop-filter: blur(2px);
  min-width: 200px;
  flex-grow: 2;
  order: 1;

  .border {
    display: flex;
    flex-direction: row;
    gap: 0;
    border: none !important;
    width: auto !important;
    height: auto !important;
    border-radius: 5px;
    flex-grow: 1;
    
    .portrait {
      &:empty {
        display: none;
      }
      width: 150px;
      height: 175px;
      border-radius: 4px;
      flex-shrink: 0;
      order: 1;
      overflow: hidden;
      padding: 0.5rem;
      padding-right: 0;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  
  .content {
    display: flex !important;
    flex-direction: column;
    white-space: pre-wrap;
    width: 100% !important;
    height: 100% !important;
    background: none !important;
    overflow-y: auto;
    padding: 0.5rem 1rem !important;
    order: 2;
    
    span {
      margin-right: 4px;
      line-height: 1.25;
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      border-bottom: 1px solid #4b2e14;
      margin: 0 0 12px 0;
      width: 100%;
    }
  }
  
  .btn {
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    display: none;
  }
  
  .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .next {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

#NpcMenu {
  flex-grow: 1;
  order: 2;
  // backdrop-filter: blur(2px);
  // background: rgba(0,0,0,0.25) !important;
  background: none !important;
  
  hr {
    
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow: hidden;
    align-items: left;
    justify-content: center;
    height: auto;
    padding: 0 0.5rem;
    
    & > button {
      padding: 0.5rem;
      border: 2px solid rgba(0, 0, 0, 0);
      
      &:hover {
        border: 2px solid #4b2e14;
      }
    }
  }
}
